@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-blend-mode {
    mix-blend-mode: screen;
    background-image: url("/backgrounds/plastic.jpg");
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .hovered-file {
    filter: invert(12%) sepia(99%) saturate(3000%) hue-rotate(160deg)
      brightness(50%) contrast(228%);
  }

  .crawl {
    line-height: 150%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) perspective(600px) rotateX(20deg);
    transform-origin: 50% 100%;
    -webkit-mask-image: linear-gradient(
      180deg,
      transparent,
      #000 60%,
      #000 100%
    );
    mask-image: linear-gradient(180deg, transparent, #000 60%, #000 100%);
  }
}
